.homepageContent {
  display: flex;
  position: absolute;
  left: 290px;
  top: 120px;
  flex-direction: column;
  align-items: self-start;
  /* background: linear-gradient(rgb(253, 202, 253), rgb(231, 108, 231)); */
  padding: 20px;
  width: 1200px;
}
