.authForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 191, 191);
  width: 420px;
  margin: 100px auto;
  padding: 20px;
}
.authForm h1 {
  text-align: center;
  color: black;
  letter-spacing: 0.6px;
}
.email,
.password,
.name {
  display: flex;
  flex-direction: column;
}
.email input,
.password input,
.name input {
  width: 70%;
  margin: 7px 0 10px;
  padding: 8px 14px;
  border-radius: 4px;
  border: none;
  font-size: 0.9rem;
}
.email input:focus,
.password input:focus,
.name input:focus {
  outline: none;
}
.checkBox {
  margin: 11px 0;
}
.checkBox input {
  cursor: pointer;
}
.actions {
  margin: 13px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submitBtn {
  margin: 7px 0 15px;
  padding: 7px 14px;
  width: 120px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.submitBtn:hover {
  opacity: 0.8;
}

.switchBtn {
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  padding: 6px;
  cursor: pointer;
}
.switchBtn:hover {
  background-color: bisque;
}
.errorMsg {
  color: red;
}
@media only screen and (max-width: 400px) {
  .authForm {
    width: 350px;
  }
}
